@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.p { 
	background: #691a40; 
}
	
.second-color { 
	background: #9e3668; 
}

.third-color { 
	background: #f6a9ce; 
}
h1 {
        font-family: "Lobster", sans-serif;
        font-weight: 100;
        background: #fde3f0;
        font-size: 400%
}
h2 {
        font-family: "Lobster", sans-serif;
        font-weight: 100;
        background: #fde3f0;
        font-size: 300%
}
h3, h4, h5 { 
	font-family: "Lobster", sans-serif;
	font-weight: 100;
	background: #fde3f0; 
	font-size: 200%
}
p {
	font-family: "Times New Roman", sans-serif;
	font-size: 180%;
}
th, td, table {
	border: 2px solid;
	border-collapse: collapse;
	font-family: "Times New Roman", sans-serif;
	text-align: center;
	font-size: 180%;
	background: #fde3f0;
}
a{
	font-family: "Times New Roman", sans-serif;
        text-align: center;
        font-size: 200%;
}

